{% extends 'main/base.html' %}

{% block title %} View List {% endblock %}

{% block content %} 
    <h1>{{ls.name}}</h1>
    <form action="#" method="post">
        {% csrf_token %}
        
            {% for item in ls.item_set.all %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                    {% if item.status == True %}
                        <input type="checkbox" name="c{{item.id}}" id="{{item.id}}"
                            value="clicked" checked>
                    {% else %}
                        <input type="checkbox" name="c{{item.id}}" id="{{item.id}}"
                        value="clicked">
                    {% endif %}
                </div>
                </div>
                <input type="text" value="{{item.text}}" id="" class="form-control">
                
            </div>
            {% endfor %}

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="submit" value="save" name='save' class="btn btn-success">Save</button>
            </div>
            <input type="text" name="new" id="new">
            </div>    
            <button type="submit" value="new_item" name='new_item' class="btn btn-success">Add Item</button>
    </form>
{% endblock %}

<!--Stop video in 02:16:16  video: 
https://www.youtube.com/watch?v=sm1mokevMWk&t=1260s&ab_channel=TechWithTim-->